{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <div style="padding-bottom: 10px;">
        <h1>Create New Page</h1>
    </div>
    <div>
        <form action="{% url 'encyclopedia:add' %}" method="post">
            {% csrf_token %}
            <div>
                <h3>{{ form.title.label }}</h3>
                {{ form.title }}
            </div>
            <br>
            <div style="padding-bottom: 10px;">
                <h3>{{ form.content.label }}</h3>
                {{ form.content }}
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}